In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('./Lab2-Altair/france.csv')

In [10]:
df[df.place=='Marseille']

,Unnamed: 0,Postal Code,x,y,inseecode,place,population,density
4329,4329,13000,-0.109646,0.696651,13200,Marseille,0,0